p{
  position: absolute;
  font-family: sans;
  text-transform: uppercase;
  border: 1px solid green;
  padding: 5px;
}

.hello{
  top: 20px;
  left: 20px;
}

.world{
  top: 90%;
  left: 50%;
  cursor: move;
}

.exclam{
  top: 300px;
  right: 20px;
}

.join2{
  border-color: red;
}

.hello2{
  top: 300px;
  left: 100px;
}

.world2{
  top: 10px;
  left: 65%;
  cursor: move;
}

.exclam2{
  top: 80%;
  right: 100px;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}
